{{#if this.isTokenStored}}
  <p>GitHub Access Token is saved.</p>
  <button class="btn" type="button" {{on "click" this.removeToken}}>Remove Token</button>
{{else}}
  <label for="token">Enter GitHub Access Token:</label>
  <input id="token" class="input" type="text" value={{this.tokenInput}} {{on "input" this.updateTokenInput}} />
  <button class="btn" type="button" {{on "click" this.saveToken}}>Save Token</button>
{{/if}}
